ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232424;
  }
  
  #menu li {
    float: left;
  }
  
  #menu li a {
    display: block;
    color: gray;
    text-align: center;
    font-family: Helvetica;
    padding: 16px;
    font-size: 20px;
    text-decoration: none;
  }
  
  #menu li a:hover {
    background-color: #DBDADA;
  }
  body{
    margin: 0;
}
body{
    background-image: url("Screen Shot 2021-03-01 at 12.46.32 AM.jpg");
    height: 750px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}