/* line-draw */

#star-svg {
    position: fixed;
    top: 0%;
    left: 50%;
    width: 600px;
    height: 1000px;
    margin: -75px 0 0 -75px;
    z-index: -1;
}


/* slide animation */

.slideanim {
    visibility: hidden;
    visibility: visible\9;
    /*For old IE browsers IE6-8 */
}

.slideanim.slide {
    visibility: visible;
    animation: slide 1s;
}

.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#box-container {
    display: flex;
    height: 300px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    background-color: #232424;
    border: 5px solid #AE252D;
}

.top-left {
    position: absolute;
    top: 275px;
    left: 16px;
}

.col {
    float: left;
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 40%;
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232424;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: #DBDADA;
    ;
    text-align: center;
    font-family: Helvetica;
    padding: 16px;
    font-size: 20px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #afaeae;
}

body {
    background-color: #2a2c2c;
    margin: 0;
    height: 4000px;
}

.titleText {
    font-size: 4em;
    font-family: helvetica;
    color: #AE252D;
    margin-bottom: -6px;
}

#titleBelowText {
    color: #DBDADA;
    padding-left: 12px;
    font-size: 17pt
}

h1,
p {
    font-family: Helvetica;
}


/* Movie Boxes */

.movie {
    display: flex;
    height: 300px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    background-color: #232424;
    border: 5px solid #AE252D;
}

.reverse {
    flex-direction: row-reverse;
}

.movieInfoRight {
    color: #DBDADA;
    line-height: 1.6;
    padding-left: 20px;
}

.movieTitleRight {
    font-size: 30pt;
    font-family: Helvetica;
    padding-left: 20px;
    color: #DBDADA;
    margin-bottom: -6px;
}

#box-1 {
    width: 50%;
    height: 50%;
}

#box-2 {
    width: 50%;
    height: 50%;
}

.infoLink,
a {
    color: inherit;
}

.infoLink,
a:link {
    text-decoration: none;
}

.infoLink,
a:visited {
    text-decoration: none;
}

.infoLink,
a:hover {
    text-decoration: underline;
}

.infoLink,
a:active {
    text-decoration: underline;
}

a:active,
a:focus {
    outline: 0;
    border: none;
    outline-style: none;
}